<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0  mt-5 mat__links">
      <li class="nav-item d-inline-flex align-items-center text-white px-4" routerLink="/characters"
        routerLinkActive="active">
        <span class="material-icons side_list_icon me-3">
          account_circle
        </span>
        <a class="nav-link " aria-current="page">Characters</a>
      </li>
      <li class="nav-item d-inline-flex align-items-center text-white px-4" routerLink="/comics"
        routerLinkActive="active">
        <span class="material-icons side_list_icon me-3">
          auto_stories
        </span>
        <a class="nav-link">Comics</a>
      </li>

      <li class="nav-item d-inline-flex align-items-center text-white px-4" routerLink="/series"
        routerLinkActive="active">
        <span class="material-icons side_list_icon me-3">
          movie
        </span>
        <a class="nav-link ">Series</a>
      </li>
      <li class="nav-item d-inline-flex align-items-center text-white px-4" routerLink="/stories"
        routerLinkActive="active">
        <span class="material-icons side_list_icon me-3">
          auto_stories
        </span>
        <a class="nav-link ">Stories</a>
      </li>
      <li class="nav-item d-inline-flex align-items-center text-white px-4" routerLink="/creators"
        routerLinkActive="active">
        <span class="material-icons side_list_icon me-3">
          account_circle
        </span>
        <a class="nav-link ">Creator</a>
      </li>
      <li class="nav-item d-inline-flex align-items-center text-white px-4" routerLink="/events"
        routerLinkActive="active">
        <span class="material-icons side_list_icon me-3">
          event
        </span>

        <a class="nav-link ">Events</a>
      </li>
      <li>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
            [(ngModel)]="searchTerm" (keyup)="search($event)" name="search">
        </form>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top mat-elevation-z10">
      <div class="container">
        <!-- <svg class="w-8 h-8 fill-current text-white me-2 brand_svg " xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20" fill="currentColor">
          <path
            d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z" />
        </svg> -->
        <span class="material-icons home__icon side_list_icon me-1" routerLink="/home">
          <mat-icon>home</mat-icon>
        </span>
        <a class="navbar-brand" routerLink="/home">Marvel Studio</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 px-3 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/characters">Characters</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/comics">Comics</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="/series">Series</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="/stories">Stories</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="/creators">Creators</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="/events">Events</a>
            </li>

          </ul>
          <!-- <svg class="w-8 h-8 fill-current text-white me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="currentColor">
            <path
              d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z" />
          </svg> -->
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
              [(ngModel)]="searchTerm" (keyup)="search($event)" name="search">
          </form>

        </div>
        <button class="manuBtn" mat-mini-fab aria-label="Example icon button with a menu icon"
          (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>